* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Number 1 */

div{
    border-radius: 15px;
}

.red{
    background: red;
    grid-column: 1/span 2;
}

.blue{
    background: blue;
    grid-column: 3/span 2;
}

.green{
    background: green;
    grid-column: 1;
}

.violet{
    background: blueviolet;
    grid-column: 2/span 3;
}

.yellow{
    background: yellow;
    grid-column: 1/ span 4;
}

.gridContainer{
    display: grid;
    gap: 20px;
    height: 100vh;
}

/* Number 2 */

article{
    display: grid;
    justify-content: start;
    border-radius: 10px;
}

.newRed{
    background: red;
    grid-column: 1/span 4;
    grid-row: 1;

}

.newBlue{
    background: blue;
    grid-column: 1/span 2;
    grid-row: 2/span 2;
}

.newGreen{
    background: green;
    grid-column: 3/span 2;
    grid-row: 2;
}

.newVioletA{
    background: blueviolet;
    grid-column: 3;
    grid-row: 3;
}

.newVioletB{
    background: blueviolet;
    grid-column: 4;
    grid-row: 3;
}

.newGridContainer{
    display: grid;
    gap: 20px;
    height: 100vh;
    width: 60vw;
    margin: 25% auto;
}